$primary-text-colour:#323232;
$primary-cta-color:#0095FF;
$secondary-text-color: #AFAFAF;
$primary-background: #FFFFFF;
$video-component-color: #000000;
$hover-cta-color: #0065AD;
$divider-color: #E1E1E1; //mercury
$form-background:#FAFAFA;
$desktop-breakpoint: 1280px;
$tablet-breakpoint: 768px;
