@use './mixins' as*;
@use './variables' as*;


.video {
    background: $video-component-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__video-element{
        width:100vw;
        @include tablet{
            width: 92vw;
        }
        @include desktop{
            width:70vw;
        }
    }
    
}