@use '../../../styles/partials/variables' as*;
@use '../../../styles/partials/mixins' as*;

.articles{
    padding-top:1.75rem;
    border-top: $divider;
    padding-bottom:0.75rem;
    @include tablet{
        padding-bottom:1.75rem;
    }
    @include desktop{
        padding-left:2rem;
        border-left: 2px solid $divider-color;
        border-top:none;
    }
    

    &__title{
        text-transform: uppercase;
        @include font($color:$secondary-text-color, $weight:600, $size:0.875rem);
        margin: 0;
        padding-bottom: 0.5rem;
        @include tablet{
            padding-bottom: 0.75rem;
        }
    }
}