@use '../../../styles/partials/mixins' as *;
@use '../../../styles/partials/variables' as *;

.video-card{
    padding: 1rem 0;
    display:flex;
    cursor: pointer;
    &__pic-parent{
        width:8rem;
        height:5rem;
        overflow: hidden;
        border-radius: 5px;
    }
    &__pic{
        width:8rem;
        height: 6rem;
    }

    &__title{
        margin:0;
        @include font($weight:600);
        width:12rem;
    }
    &__author{
        margin:0;
        color: $primary-text-colour;
        @include font;
    }
    &__texts {
        @include flex($direction:column, $justify:space-between);
        padding-left: 1rem;
    }
}