@use '../../../styles/partials/mixins' as*;
@use '../../../styles/partials/variables' as*;


.upload-page {
    padding: 2rem 6.5rem; 
    @include tablet {
        padding: 2rem; 
    }
    @include desktop {
        padding: 2rem 6.5rem; 
    }
    
    border-top: $input-border;
    &__title{
        @include font($size:2.0625rem, $weight:600);
        line-height: 2.75rem;
        margin:0;
        padding-bottom:1.325rem;
        @include tablet {
            font-size: 2.5rem;
        }
        @include desktop {
            @include font($size:2.0625rem, $weight:600);
            
        }
        
    }
}

.upload-section {
    padding-top: 2rem;
    border-top: $divider;
    border-bottom: $divider;
    @include flex;
    column-gap: 2rem;
    @include tablet {
        @include flex ($direction:column);
        row-gap:2rem;
    }
    @include desktop {
        @include flex;
        row-gap:0; 
    }
    &__title{
        text-transform: uppercase;
        @include font($weight:600, $color:$secondary-text-color);
        margin: 0;
        padding-bottom:0.75rem;
        @include tablet{
            font-size:0.875rem;
        }
        @include desktop {
            padding-bottom:0;
        }
    }
    &__thumbnail{
        
        border-radius: 6px;
        @include tablet{
            width:28rem;
        }
        @include desktop{
            width:20rem;
        }
       
    }
    
}


.upload-form {
    display: flex;
    flex-direction: column;
    &__labels-and-inputs{
        @include flex($direction:column);
    }
    &__label {
        text-transform: uppercase;
        @include font($weight:600, $color:$secondary-text-color);
        margin: 0;
        @include tablet{
            font-size:0.875rem;
        }
        &--high-pad{
            padding-top:1.25rem;
        }
    }
    &__input{
        margin-left:0 ;
        @include flex($align:flex-start);
        border: $input-border;
        border-radius: 4px;
        padding: 0.75rem 1.375rem;
        width: 15rem;
        height: 6rem;
        margin-bottom:1.25rem;
        margin-top:0.5rem;
        background-color: $form-background;
        transition: $transition;
        &:focus-within{
            border: $input-focus-border;
        }
        @include tablet{
            width: 95%;
            margin-right:2rem;
            height: auto;
            align-items: center;
            margin-bottom: 0;
        }
        @include desktop{
            margin-right: 0;
            width: 47rem;
        }
        &::placeholder{
            @include font;
            
        }
        &--description{
            height:3rem;
            resize:none;
        }
    }
}

.buttons-section{
    display:flex;
    align-self: flex-end;
    position: relative;
    top:5rem;
    &__cancel-cta{
        border:none;
        background:$primary-background;
        text-transform: uppercase;
        @include font($size:0.875rem, $color:$primary-cta-color, $weight:600);
        margin-right:2.5rem;
    }
}




.publish-button {
    margin-right:0;
}