@use '../../../styles/partials/mixins' as*;
@use '../../../styles/partials/variables' as*;


.progress{
    background: $video-overlay;
    width:15rem;
    height:1.325rem;
    border-radius:4px;
    @include flex($align:center, $justify: space-evenly);
    @include tablet{
        width: 36rem;
        height:2.325rem;
        border-radius:6px;
    }
    @include desktop{
        width:45rem;
    }
    &__timed-marker{
        background: $video-component-color;
        width:11rem;
        height:0.25rem;
        border-radius:4px;
        @include tablet{
            width:30rem;
            }
        @include desktop{
            width:39rem;
        }
    }
    &__time-left{
        margin:0;
        @include font($color:$secondary-text-color, $size:0.525rem);
        @include tablet{
            font-size:0.6rem;
        }
    }
}