@use '../../../styles/partials/mixins' as*;
@use '../../../styles/partials/variables' as*;



.video {
    background: $video-component-color;
    @include flex($justify:center, $align:center, $direction:column);
    position:relative;
    &__video-element{
        width:100vw;
        @include tablet{
            width: 92vw;
        }
        @include desktop{
            width:70vw;
        }
    }
    
}