@use '../../../styles/partials/variables' as*;
@use '../../../styles/partials/mixins' as*;

.main-bottom-section {
    @include flex($direction:column);
    padding: 0 1.325rem;
    @include tablet{
        padding: 0 2rem;
    }
    @include desktop{
        flex-direction: row;
        padding: 0 8rem;
    }
    
}