@font-face {
  font-family: "avenir";
  src: url("./assets/Font/AvenirNextLTPro-Bold.otf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "avenir";
  src: url("./assets/Font/AvenirNextLTPro-Demi.otf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "avenir";
  src: url("./assets/Font/AvenirNextLTPro-Regular.otf");
  font-style: normal;
  font-weight: 400;
}
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
@media (min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
  }
}
@media (min-width: 1280px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 6.5rem;
  }
}
.navbar__right-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .navbar__right-section {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .navbar__right-section {
    display: flex;
    align-items: center;
  }
}
.navbar__search-section {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  border: solid 1px #E1E1E1;
  border-radius: 4px;
  padding: 0.75rem 1.375rem;
  width: 80%;
  background-color: #FAFAFA;
  transition: 0.25s ease-in-out;
}
.navbar__search-section:focus-within {
  border: solid 2px #0095FF;
}
@media (min-width: 768px) {
  .navbar__search-section {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    border: solid 1px #E1E1E1;
    border-radius: 4px;
    padding: 0.75rem 1.375rem;
    width: 15rem;
    background-color: #FAFAFA;
    transition: 0.25s ease-in-out;
  }
  .navbar__search-section:focus-within {
    border: solid 2px #0095FF;
  }
}
@media (min-width: 1280px) {
  .navbar__search-section {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-right: 0;
    border: solid 1px #E1E1E1;
    border-radius: 4px;
    padding: 0.75rem 1.375rem;
    width: 13rem;
    background-color: #FAFAFA;
    transition: 0.25s ease-in-out;
  }
  .navbar__search-section:focus-within {
    border: solid 2px #0095FF;
  }
}
.navbar__search-icon {
  margin-right: 0.25rem;
  width: 1.25rem;
}
.navbar__search-input {
  width: 100%;
  border: none;
}
.navbar__search-input:focus {
  outline: none;
}
.navbar__search-input::-moz-placeholder {
  color: black;
  font-weight: 500;
  font-size: 1rem;
  font-family: "avenir";
}
.navbar__search-input::placeholder {
  color: black;
  font-weight: 500;
  font-size: 1rem;
  font-family: "avenir";
}
@media (min-width: 768px) {
  .navbar__search-input::-moz-placeholder {
    color: black;
    font-weight: 500;
    font-size: 0.85rem;
    font-family: "avenir";
  }
  .navbar__search-input::placeholder {
    color: black;
    font-weight: 500;
    font-size: 0.85rem;
    font-family: "avenir";
  }
}
.navbar__upload-section {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: #0095FF;
  border-radius: 4px;
  padding: 0.75rem 1rem;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.navbar__upload-section:hover {
  background-color: #0065AD;
}
@media (min-width: 768px) {
  .navbar__upload-section {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 1rem;
    background-color: #0095FF;
    border-radius: 4px;
    padding: 0.75rem 1rem;
    width: 10rem;
    border: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
  .navbar__upload-section:hover {
    background-color: #0065AD;
  }
}
@media (min-width: 1280px) {
  .navbar__upload-section {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: #0095FF;
    border-radius: 4px;
    padding: 0.75rem 1rem;
    width: 10rem;
    border: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
  .navbar__upload-section:hover {
    background-color: #0065AD;
  }
}
.navbar__upload-text {
  text-transform: uppercase;
  color: #FAFAFA;
  margin: auto;
  font-weight: 500;
  font-size: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .navbar__upload-text {
    text-transform: uppercase;
    color: #FAFAFA;
    font-weight: 500;
    font-size: 0.875rem;
  }
}
@media (min-width: 1280px) {
  .navbar__upload-text {
    text-transform: uppercase;
    color: #FAFAFA;
    font-weight: 500;
    font-size: 0.875rem;
  }
}
.navbar__upload-icon {
  width: 1.25rem;
  margin-right: 0.25rem;
}
.navbar__logo {
  width: 9rem;
  justify-self: flex-start;
}
@media (min-width: 768px) {
  .navbar__logo {
    width: auto;
  }
}
@media (min-width: 1280px) {
  .navbar__logo {
    width: 9rem;
    justify-self: flex-start;
  }
}
.navbar__search-user {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
@media (min-width: 768px) {
  .navbar__search-user {
    width: auto;
  }
}
@media (min-width: 1280px) {
  .navbar__search-user {
    width: auto;
    padding: 0;
  }
}
.navbar__user-tabdesk {
  display: none;
}
@media (min-width: 768px) {
  .navbar__user-tabdesk {
    display: flex;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    overflow: hidden;
  }
}
@media (min-width: 1280px) {
  .navbar__user-tabdesk {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    overflow: hidden;
  }
}
.navbar__user-mobile {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  overflow: hidden;
}
@media (min-width: 768px) {
  .navbar__user-mobile {
    display: none;
  }
}
.navbar__user-img {
  height: 3rem;
}

.video {
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.video__video-element {
  width: 100vw;
}
@media (min-width: 768px) {
  .video__video-element {
    width: 92vw;
  }
}
@media (min-width: 1280px) {
  .video__video-element {
    width: 70vw;
  }
}

.main-bottom-section {
  display: flex;
  flex-direction: column;
  padding: 0 1.325rem;
}
@media (min-width: 768px) {
  .main-bottom-section {
    padding: 0 2rem;
  }
}
@media (min-width: 1280px) {
  .main-bottom-section {
    flex-direction: row;
    padding: 0 8rem;
  }
}

@media (min-width: 1280px) {
  .left-section {
    width: 70%;
  }
}

.description {
  padding-top: 1.75rem;
}
.description__title {
  font-size: 2.0625rem;
  font-weight: 600;
  line-height: 2.75rem;
  margin: 0;
  color: #323232;
  padding-bottom: 1.325rem;
  border-bottom: solid 2px #E1E1E1;
}
@media (min-width: 768px) {
  .description__title {
    font-size: 2.0625rem;
    font-weight: 700;
    line-height: 2.75rem;
    margin: 0;
    color: #323232;
    padding-bottom: 0.75rem;
    border-bottom: none;
  }
}
.description__lower-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.325rem;
  padding-top: 1.325rem;
  border-bottom: 2px solid #E1E1E1;
}
@media (min-width: 768px) {
  .description__lower-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    padding-top: 0;
    border-bottom: 2px solid #E1E1E1;
  }
}
.description__author-date {
  display: flex;
  flex-direction: column;
  width: 12rem;
  justify-content: space-between;
  margin: 0;
}
@media (min-width: 768px) {
  .description__author-date {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 12rem;
    justify-content: space-between;
    margin: 0;
  }
}
.description__author {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: #323232;
  margin: 0;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .description__author {
    font-size: 0.925rem;
    font-weight: 700;
    line-height: 1.375rem;
    color: #323232;
    margin: 0;
  }
}
.description__date {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
  color: #AFAFAF;
  margin: 0;
}
@media (min-width: 768px) {
  .description__date {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    color: #AFAFAF;
    margin: 0;
  }
}
.description__statistics {
  display: flex;
  flex-direction: column;
  width: 12rem;
  justify-content: space-between;
  padding-right: 1.75rem;
}
@media (min-width: 768px) {
  .description__statistics {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 12rem;
    justify-content: space-between;
    padding-right: 1.75rem;
  }
}
.description__statistics--left {
  display: flex;
  align-items: center;
  width: 6.75rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .description__statistics--left {
    display: flex;
    align-items: center;
    width: 5.25rem;
    justify-content: space-between;
    margin: 0;
  }
}
.description__statistics--right {
  display: flex;
  align-items: center;
  width: 6rem;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .description__statistics--right {
    display: flex;
    align-items: center;
    width: 4.5rem;
    justify-content: space-between;
    margin: 0;
  }
}
.description__long-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
  color: #323232;
  margin: 0;
  padding-top: 1.75rem;
}
@media (min-width: 768px) {
  .description__long-text {
    font-size: 0.925rem;
    font-weight: 400;
    line-height: 1.375rem;
    color: #323232;
    margin: 0;
    padding-top: 1.75rem;
    padding-right: 1.75rem;
  }
}
.description__stat-count {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
  color: #AFAFAF;
  margin: 0;
}
@media (min-width: 768px) {
  .description__stat-count {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    color: #AFAFAF;
    margin: 0;
  }
}
.description__stat-icon {
  width: 1.625rem;
  margin-right: 0.5rem;
}
@media (min-width: 768px) {
  .description__stat-icon {
    width: auto;
  }
}

.articles {
  padding-top: 1.75rem;
  border-top: 2px solid #E1E1E1;
  padding-bottom: 0.75rem;
}
@media (min-width: 768px) {
  .articles {
    border-top: 2px solid #E1E1E1;
    padding-bottom: 1.75rem;
  }
}
@media (min-width: 1280px) {
  .articles {
    padding-left: 2rem;
    padding-top: 1.75rem;
    border-left: 2px solid #E1E1E1;
    border-top: none;
  }
}
.articles__title {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 600;
  color: #AFAFAF;
  margin: 0;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .articles__title {
    padding-bottom: 0.75rem;
  }
}
@media (min-width: 1280px) {
  .articles__title {
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 600;
    color: #AFAFAF;
    margin: 0;
  }
}

.video-card {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
}
.video-card__pic-parent {
  width: 8rem;
  height: 5rem;
  overflow: hidden;
  border-radius: 5px;
}
.video-card__pic {
  width: 8rem;
  height: 6rem;
}
.video-card__title {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: #323232;
  width: 12rem;
}
.video-card__author {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  color: #323232;
}
.video-card__texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
}

.comments {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}
@media (min-width: 768px) {
  .comments {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
  }
}
@media (min-width: 1280px) {
  .comments {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
  }
}
.comments__number-of-comments {
  font-size: 0.925rem;
  font-weight: 700;
  line-height: 1.375rem;
  color: #323232;
  margin: 0;
}
.comments__new-comment {
  display: flex;
  padding-top: 1.5rem;
  justify-content: space-between;
  padding-bottom: 1.75rem;
}
@media (min-width: 768px) {
  .comments__new-comment {
    display: flex;
    padding-top: 1.5rem;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 1.75rem;
  }
}
@media (min-width: 1280px) {
  .comments__new-comment {
    display: flex;
    padding-top: 1.5rem;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 1.75rem;
  }
}
.comments__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
@media (min-width: 768px) {
  .comments__form {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    width: auto;
  }
}
.comments__search-section {
  margin-left: 0;
  display: flex;
  align-items: flex-start;
  border: solid 1px #E1E1E1;
  border-radius: 4px;
  padding: 0.75rem 1.375rem;
  width: 15rem;
  height: 6rem;
  margin-bottom: 1.25rem;
  margin-top: 0.5rem;
  background-color: #FAFAFA;
  transition: 0.25s ease-in-out;
}
.comments__search-section:focus-within {
  border: solid 2px #0095FF;
}
@media (min-width: 768px) {
  .comments__search-section {
    width: 26.5rem;
    margin-right: 2rem;
    height: auto;
    margin-left: 0;
    display: flex;
    align-items: center;
    border: solid 1px #E1E1E1;
    border-radius: 4px;
    padding: 0.75rem 1.375rem;
    margin-bottom: 0;
    background-color: #FAFAFA;
    transition: 0.25s ease-in-out;
  }
  .comments__search-section:focus-within {
    border: solid 2px #0095FF;
  }
}
@media (min-width: 1280px) {
  .comments__search-section {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    align-items: center;
    border: solid 1px #E1E1E1;
    border-radius: 4px;
    padding: 0.75rem 1.375rem;
    width: 20rem;
    background-color: #FAFAFA;
    transition: 0.25s ease-in-out;
  }
  .comments__search-section:focus-within {
    border: solid 2px #0095FF;
  }
}
.comments__input-label {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  color: #AFAFAF;
  margin: 0;
}
@media (min-width: 768px) {
  .comments__input-label {
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 600;
    color: #AFAFAF;
    margin: 0;
  }
}

.previous-comment {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  border-top: 2px solid #E1E1E1;
}
.previous-comment__pic-placeholder {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: #E1E1E1;
}
.previous-comment__texts {
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-direction: column;
  flex-wrap: nowrap;
  -moz-column-gap: 5vw;
       column-gap: 5vw;
  width: 80%;
}
@media (min-width: 768px) {
  .previous-comment__texts {
    width: 90%;
  }
}
.previous-comment__texts-top {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  flex-direction: row;
  flex-wrap: nowrap;
  -moz-column-gap: 5vw;
       column-gap: 5vw;
  align-items: center;
}
.previous-comment__name {
  font-family: "avenir";
  font-size: 1rem;
  font-weight: 600;
  color: #323232;
  line-height: normal;
  margin: 0;
}
@media (min-width: 768px) {
  .previous-comment__name {
    font-family: "avenir";
    font-size: 0.925rem;
    font-weight: 600;
    color: #323232;
    line-height: normal;
    margin: 0;
  }
}
.previous-comment__date {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
  color: #AFAFAF;
  margin: 0;
}
@media (min-width: 768px) {
  .previous-comment__date {
    font-size: 0.925rem;
    font-weight: 400;
    line-height: 1.375rem;
    color: #AFAFAF;
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .previous-comment__date {
    font-size: 0.925rem;
    font-weight: 400;
    line-height: 1.375rem;
    color: #AFAFAF;
    margin: 0;
    margin-right: 2rem;
  }
}
.previous-comment__long-paragraph {
  width: 18rem;
  font-family: "avenir";
  font-size: 1rem;
  font-weight: 400;
  color: #323232;
  line-height: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .previous-comment__long-paragraph {
    width: 41rem;
    font-family: "avenir";
    font-size: 0.925rem;
    font-weight: 400;
    color: #323232;
    line-height: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .previous-comment__long-paragraph {
    width: 36rem;
  }
}

.play {
  height: 1.325rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
}
@media (min-width: 768px) {
  .play {
    height: 2.325rem;
    width: 2.825rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.5);
  }
}
.play__icon {
  width: 0.6rem;
}
@media (min-width: 768px) {
  .play__icon {
    width: auto;
  }
}

.controls {
  position: absolute;
  bottom: 0.75rem;
  display: flex;
  justify-content: space-between;
  width: 22rem;
}
@media (min-width: 768px) {
  .controls {
    bottom: 1rem;
    display: flex;
    justify-content: space-between;
    width: 45rem;
  }
}
@media (min-width: 1280px) {
  .controls {
    bottom: 1.325rem;
    display: flex;
    justify-content: space-between;
    width: 55rem;
  }
}

.progress {
  background: rgba(0, 0, 0, 0.5);
  width: 15rem;
  height: 1.325rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (min-width: 768px) {
  .progress {
    background: rgba(0, 0, 0, 0.5);
    width: 36rem;
    height: 2.325rem;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
@media (min-width: 1280px) {
  .progress {
    background: rgba(0, 0, 0, 0.5);
    width: 45rem;
    height: 2.325rem;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
.progress__timed-marker {
  background: black;
  width: 11rem;
  height: 0.25rem;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .progress__timed-marker {
    background: black;
    width: 30rem;
    height: 0.25rem;
    border-radius: 4px;
  }
}
@media (min-width: 1280px) {
  .progress__timed-marker {
    background: black;
    width: 39rem;
    height: 0.25rem;
    border-radius: 4px;
  }
}
.progress__time-left {
  color: #AFAFAF;
  margin: 0;
  font-size: 0.525rem;
}
@media (min-width: 768px) {
  .progress__time-left {
    color: #AFAFAF;
    margin: 0;
    font-size: 0.6rem;
  }
}

.screen-sound {
  height: 1.325rem;
  width: 4.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.5);
}
@media (min-width: 768px) {
  .screen-sound {
    height: 2.325rem;
    width: 4.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.5);
  }
}
.screen-sound__icon {
  width: 1.15rem;
}
@media (min-width: 768px) {
  .screen-sound__icon {
    width: auto;
  }
}

body {
  margin: 0;
  box-sizing: border-box;
  background: #FFFFFF;
  font-family: "avenir";
}/*# sourceMappingURL=App.css.map */